<body>
  <div class="aboutPage" style="text-align: center">
    <h1>About</h1>
    <br></br>
    <h4>Get organized and increase productivity with your team</h4>
    <%= image_tag"Pic2.png" %>
  </div>

    <hr style="height:2px;border-width:0;background-color:gray">
    <footer style="text-align-left">
      <p> About | <%= link_to("Terms", terms_path) %></p>
    </footer>
</body>
