body>
  <div class="container">
    <h1>Frequently Asked Questions</h1>
      <div class="row">
        <div class="col-md-8">
        <h3>What is gCamp?</h3>
          <p>gCamp is an awesome place that allows you to build on your toolbox. This is a place where you can
              access all of your documents and read comments on those documents. Eventually, you will find less and less
              use for traditional paper and pencil and will keep track of all of your documents using
               our system</p>
          <br>
        <h3>How do I join gCamp?</h3>
          <p>Right now, gCamp is still under construction. Bummer, I know. We are actively engaged in create a comple
          user exprience that will rival an product on the market. Here at gCamp, we only accept the highest
          quality and would deliver nothing less to our clients. Join our mailing list and we can keep you up
          to date with where we are!</p>
          <br>
        <h3>When will gCamp be finished?</h3>
          <p>gCamp is a work in progress. That being said, the full bang-a-rang product should be available
          by the end of December 2014. Beyond the production stage, our developers will be continuing to work
          to enhance the user experience using the direct feedback you provide. How is that for customer service?
          We are only a click away. Don't be shy, we want to hear what YOU think!</p>
      </div>
    </div>
    <hr style="height:2px;border-width:0;background-color:gray">

    <footer style="text-align-left">
      <p> <%= link_to("About", about_path) %> | <%= link_to("Terms", terms_path) %> | FAQ</p>
    </footer>
  </div>
</body>
