<body>
  <div class="container">
    <br></br>
    <h1>Frequently Asked Questions</h1>
    <br>
      <div class="row">
        <div class="col-md-8">
          <%@faqs.each do |faq| %>
            <h3><%= faq.question %></h3>
              <p><%= faq.answer %></p>
              <br>
          <% end %>
        </div>
      </div>
    <hr style="height:2px;border-width:0;background-color:gray">
  </div>
</body>
