
<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="jumbotron">
      <h1>gCamp</h1>
        <h4>Your life, organized.</h4>

<% quotes = [["'gCamp is the best!'", "  -President Obama"], ["'I have something to say about gCamp'", "  -Guy on the couch"], ["'Bark!'", "  -My dog"]] %>

      <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-4">
          <img src="https://farm6.staticflickr.com/5343/8969254495_8b037a0e09.jpg" class="img-responsive" alt="Responsive image">
          <br>
          <div class="panel panel-primary">
            <div class="panel-heading"><h2>Tasks</h2></div>
            <div class="panel-body"
            <p>Stuff like you like it</p>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <img src="http://www.imcreator.com/wp-content/uploads/2013/10/wpid-Featured_Picture405-620x413.jpg" class="img-responsive" alt="Responsive image">
          <br>
          <div class="panel panel-primary">
            <div class="panel-heading"><h2>Documents</h2></div>
            <div class="panel-body"
            <p>
              <li>Upload</li>
              <li>Comment</li>
              <li>Revise</li>
            </p>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <img src="https://farm9.staticflickr.com/8482/8203794182_8004f8f636.jpg" class="img-responsive" alt="Responsive image">
          <br>
          <div class="panel panel-primary">
            <div class="panel-heading"><h2>Comment</h2></div>
            <div class="panel-body"
            <p>
              <li>Comment on tasks and documents</li>
              <li>Get email notification</li>
            </p>
            </div>
          </div>
        </div>
      </div>

    <div class="quotes">
        <% quotes.each do |quote| %>
          <p><%= quote[0] -%></p>
            <p style="color: gray; margin-left= 1cm"><%= quote[1] %></p>
            <br></br>
            <br></br>
        <%end%>
    </div>
  </div>

     <!-- /container -->
  <div class="container">
    <hr style="height:2px;border-width:0;background-color:gray">
      <footer style="text-align-left">
        <p><%= link_to("About", about_path) %> | <%= link_to("Terms", terms_path) %></p>
    </footer>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
