<body>
  <div class="container">
    <div class="terms" style="margin-left: 0cm">
      <br>
      <h1>Terms</h1>
      <br></br>
      <p>gCamp is not responsible for anything, unless it is positive.</p>
      <br>
      <p>You may not take us to court, for anthing. Ever.</p>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <hr style="height:2px;border-width:0;background-color:gray">
  </div>

</body>
