@import "bootstrap-sprockets";
@import "bootstrap";


.jumbotron {
  background-image: url(https://farm8.staticflickr.com/7285/8743593650_82f9358a91_o.jpg);
  background-position: 50% 10%;
  background-size: cover;
  text-align: center;

  h1, h4 {
    color: white;
    text-align: center;
  }
}



.panel-heading {
  background-color: blue;
}
.panel-body{
  text-align: left;
}

.quotes{
  color:white;
  text-align: left;
}

footer{
  text-align: left;
}

.aboutPage{
  text-align: center;
}
.quotes{
  color: white;
  line-height: .5;
}
